<%= form_with model: @employee, local: true do |form| %>
  <div class="row">

    <!-- First Name -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :first_name, class: 'mb-2' %>
        <%= form.text_field :first_name, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:first_name).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

    <!-- Last Name -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :last_name, class: 'mb-2' %>
        <%= form.text_field :last_name, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:last_name).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

    <!-- Email -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :email, class: 'mb-2' %>
        <%= form.text_field :email, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:email).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- Date of Birth -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :dob, class: 'mb-2' %>
        <%= form.date_field :dob, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:dob).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

    <!-- Date of Joining -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :doj, class: 'mb-2' %>
        <%= form.date_field :doj, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:doj).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>
     <!--user_id --> 
     <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :user_id, class: 'mb-2' %>
        <%= form.text_field :user_id, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:user_id).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>
    



    <!-- Job Title -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :job_title, class: 'mb-2' %>
        <%= form.text_field :job_title, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:job_title).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- Bio -->
    <div class="col-lg-12">
      <div class="form-group">
        <%= form.label :bio, class: 'mb-2' %>
        <%= form.text_area :bio, class: 'form-control form-control-lg rounded-0', rows: 5 %>
        <% @employee.errors.full_messages_for(:bio).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- City -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :city, class: 'mb-2' %>
        <%= form.text_field :city, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:city).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

    <!-- State -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :state, class: 'mb-2' %>
        <%= form.text_field :state, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:state).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

    <!-- Address -->
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :address, class: 'mb-2' %>
        <%= form.text_field :address, class: 'form-control form-control-lg rounded-0' %>
        <% @employee.errors.full_messages_for(:address).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row">
    <!-- Submit and Back -->
    <div class="col-lg-12 mt-4">
      <%= form.submit class: "btn btn-primary btn-lg rounded-0" %>
      <%= link_to "Back to Employees", employees_path, class: "btn btn-outline-primary btn-lg rounded-0" %>
    </div>
  </div>

<% end %>
