<h1 class="text-center">Items List</h1>

<div class="mb-3">
<% if current_user.admin?  %>

  <%= link_to 'Issue New Item', new_issued_item_path, class: 'btn btn-success mb-3' %>
<% end %>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Employee</th>
      <th>Issued At</th>
      <th>Returned At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @issued_items.each do |issued_item| %>
      <tr>
        <td><%= issued_item.item.name %></td>
        <td><%= issued_item.employee&.name || "N/A" %></td>
        <td><%= issued_item.issued_at  || "N/A" %></td>
        <td><%= issued_item.returned_at  || "N/A" %></td>
        <td>
          <%= link_to "Assign", edit_issued_item_path(issued_item), class: 'btn btn-primary' %> 
          <%= link_to "Deassign", issued_item_path(issued_item), class: 'btn btn-danger' %> 
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', issued_items_path, class: 'btn btn-success' %>