<!--<h1><%= @title_text%></h1>
<h2><%= @subtitle_text%></h2>
<%=link_to 'About Us',about_path,target:'_blank'%>
<%=link_to 'Contact us','/contact'%>
<%=link_to 'Privacy','/privacy-policy'%>
<%=link_to 'T and C','/terms-and-conditions'%>    -->

<%= render 'shared/body' %>
