  <div class="col-lg-6 mx-auto">
  <div class="card shadow-sm" style="border: 1px solid #007bff;">
    <div class="card-header" style="background-color: #007bff; color: white;">
      <h2 class="text-center">Forgot your password?</h2>
    </div>
    <div class="card-body" style="background-color: #f8f9fa;">

         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label mb-2' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me reset password instructions",class: 'btn btn-primary mt-2' %>
  </div>
<% end %>

<%= render "users/shared/links" %>   

    </div>
    </div>
    </div>
  
  
  

